body {
	font-family: 'Droid Serif', serif;
	line-height: 1.5em;
  	
}

.heading {
 	text-align: center;
 	position: static;
 	left: 0px;
 	top: 50%;
 	right: 0px;
 	margin-top: 50px;
 	margin-bottom: 0px;
 	transform: translate(0px, -50%);
 	line-height: 1em;
 	font-weight: 900;
 	letter-spacing: 3px;
}

.name {
 	font-family: Raleway;
 	margin-left: 1.6666666666%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase
}

.image {
 	display: block;
 	margin: 0 auto;
 	border-radius: 50%;
 	max-width: 25%;
 	padding-bottom: 20px;
}

.contact {
	border-top: 2px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	font-size: 12px;
}

.date {
	float: right;
}

li {
	font-size: 12px;
}